@import "tailwindcss";

@theme {
  --color-primary: #D10000;
  --color-secondary: #353535;
}
.container{width: 96; margin: auto;}
body {
  background-image: url('/bg/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional parallax effect */
}
