@import "tailwindcss";

@theme {
  --color-primary: #D10000;
  --color-secondary: #353535;
}

body {
  background-image: url('/bg/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional parallax effect */
}
